In [2]:
import pandas as pd
import numpy as np

In [3]:
path_horizons =  "C:/Users/vwt756/OneDrive - GEUS/MLO documents/pythoncode_local/LOCRETA/data/horizons/"

from os import listdir
from os.path import isfile, join
import pandas as pd
onlyfiles = [f for f in listdir(path_horizons) if isfile(join(path_horizons, f))]
print(onlyfiles)
path_wells =  "C:/Users/vwt756/OneDrive - GEUS/MLO documents/pythoncode_local/LOCRETA/data/wells/"
well_list = pd.read_csv(path_wells+'valdemar_wells.txt', sep='\t', usecols = [0,11, 12])
print(well_list)

['BaseChalk_horizon.txt', 'BCU_horizon.txt', 'sola_horizon.txt', 'TopChalk.txt', 'tuxen_horizon.txt', 'valhall_horizon.txt']
     Well      UTM_x       UTM_y
0   BO-3X  596935.18  6178863.01
1   BO-1X  598533.00  6185329.50
2   BO-2X  596898.10  6184414.60
3   BO-4X  597567.27  6183158.54
4  JUDE-1  597138.22  6180869.45

In [17]:
TopChalk = pd.read_csv(path_horizons+'TopChalk.txt',names=["cdp_x","cdp_y","twt",'1','2'], sep='\s+',skiprows = 10)

In [18]:
TopChalk.drop(columns=['1','2'],inplace=True)

In [19]:
TopChalk.to_csv(path_horizons+'TopChalk_ed.txt', sep=' ', index=False)

In [20]:
TopChalk = pd.read_csv(path_horizons+'TopChalk_ed.txt',names=["cdp_x","cdp_y","twt"], sep='\s+',skiprows = 10)

In [21]:
TopChalk

           cdp_x      cdp_y          twt
0       595487.0  6178582.5  2314.773193
1       595499.5  6178582.5  2313.847656
2       595512.0  6178582.5  2312.967285
3       595524.5  6178582.5  2312.096436
4       595537.0  6178582.5  2311.179199
...          ...        ...          ...
210933  599649.5  6186082.5  2041.774414
210934  599662.0  6186082.5  2042.025024
210935  599674.5  6186082.5  2042.254517
210936  599687.0  6186082.5  2042.466919
210937  599699.5  6186082.5  2042.670166

[210938 rows x 3 columns]

In [ ]:
hrz_list = []
hrz_list_mapped = []
hrz_list_amp = []
hrz_list_faultpred = []
hrz_list_variance = []

k=0
for i in onlyfiles:
    hrz_file = i
    extension = '.txt'
    if extension in hrz_file:
        hrz = hrz_file.replace(extension,'')
        hrz_list.append(hrz)
        hrz_list_mapped.append(hrz+'_mapped')
        hrz_list_amp.append(hrz+'_amp')
        hrz_list_faultpred.append(hrz+'_faultpred')
        hrz_list_variance.append(hrz+'_variance')
    locals()[hrz] = pd.read_csv(path_horizons+hrz_file,names=["cdp_x","cdp_y","twt"], sep='\s+',skiprows = 10)
    #locals()[hrz]['twt'] = locals()[hrz]['twt']/1000.
    print(hrz)
    print(hrz_list_mapped[k])
    locals()[hrz_list_mapped[k]] = valdemar.seis.surface_from_points(   locals()[hrz],  'twt', right=('cdp_x', 'cdp_y'))
    locals()[hrz_list_amp[k]] = valdemar.data.interp({"iline": locals()[hrz_list_mapped[k]].iline, "xline": locals()[hrz_list_mapped[k]].xline, "twt": locals()[hrz_list_mapped[k]].twt})
    locals()[hrz_list_faultpred[k]] = valdemar.CNN.interp({"iline": locals()[hrz_list_mapped[k]].iline, "xline":  locals()[hrz_list_mapped[k]].xline, "twt": locals()[hrz_list_mapped[k]].twt})
    #locals()[hrz_list_variance[k]] = valdemar.ant.interp({"iline": locals()[hrz_list_mapped[k]].iline, "xline": locals()[hrz_list_mapped[k]].xline, "twt": locals()[hrz_list_mapped[k]].twt})
    locals()[hrz_list_variance[k]] = valdemar.variance.interp({"iline": locals()[hrz_list_mapped[k]].iline, "xline": locals()[hrz_list_mapped[k]].xline, "twt": locals()[hrz_list_mapped[k]].twt})
    k=k+1